body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0.3s;
}

button{
    margin: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

a{
    color:#007bff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.resume-container{
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.sidebar{
    background-color: #f0f4f8;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-right: 1px solid #ccc;
}

.sidebar .avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.sidebar .avatar:hover{
    transform: scale(1.05);
}

.main-content{
    padding: 40px;
    flex-grow: 1;
}

body.dark{
    background-color: #222;
    color: #fff;
}

body.dark .sidebar{
    background: #26262a;
}

body.dark a{
    color: #90caf9;
}

body.dark button{
    background-color: #0a0923;
    color: #fff;
}

body.dark button:hover{
    background-color: #555;
}

body.dark .main-content {
  background-color: #2e2e2e;
}

@keyframes fadeIn{
    from {opacity: 0;transform: translateY(-10px);}
    to{opacity: 1;transform: translateY(0);}
}
